<hr>
<div style="color:#666666; font-size:12px;">
    <h3>SI Session Times and Locations</h3>
    <ul style="color: #668de8;">
        <li>
            <b>Sundays:           </b><i>1:00pm - 2:00pm @ NRH-1250</i>
        </li>
        <li>
            <b>Thursdays:       </b><i>11:00am - 12:00pm @ LBR-3232</i>
        </li>
    </ul>

    <h4>Directions</h4>
    <u>NRH-1250:</u> Nathaniel Rochester Hall (residential hall)<br>
    <u>LBR-3232:</u> Liberal Arts Building (in front of the Wallace Library)<br>
    <i>If you are lost, email me or @ me on Discord!</i>
</div>
