<hr>
<div style="color:#666666; font-size:11px;">
    <u><b>SI Session Times and Locations</b></u>
    <div style="color: #668de8;">
        <b>Sundays:           </b><i>1:00pm - 2:00pm @ NRH-1250</i><br>
        <b>Thursdays:       </b><i>11:00am - 12:00pm @ LBR-3232</i>
    </div>
    <u><b>Directions</b></u>
    <div>
        <u>NRH-1250:</u> Nathaniel Rochester Hall (residential hall)<br>
        <u>LBR-3232:</u> Liberal Arts Building (in front of the Wallace Library)<br>
        <i>If you are lost, email me or @ me on Discord!</i>
    </div>

</div>
